<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  </head>
  <body>
    {% include "header.html" %}
    
    <div class="container">
      <div class="well text-center">
        
        <h1>Dashboard</h1>

        </div>
    </div>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('add_bug') }}">Enter New Bugs</a></li>
            <li class="list-group-item"><a href="{{ url_for('update_bug') }}">Update Bugs</a></li>
            <li class="list-group-item"><a href="{{ url_for('search_bug') }}">Search Bugs</a></li>
            {% if condition %}
            <li class="list-group-item"><a href="{{ url_for('maintain_database') }}">Database Maintenance</a></li>
            {% endif %}
          </ul>
    </div>
  </body>
</html>