<!DOCTYPE html>
<html>
    <head>
        <title>New Bug Report Entry Page</title>
        <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    
      </head>
<body>
  {% include "header.html" %}
    <div class="container">
        <div class="well text-center">
  
          <h1>Export Data</h1>
  
        </div>
    </div>

	<div class="container">
    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}




    <form action="{{ url_for('export_data') }}" method="POST">
      <label for="table_name">Table Name:</label><br>
      <select id="table_name" name="table_name" class ="form-control">
        <option value="employees">Employees</option>
        <option value="programs">Programs</option>
        <option value="areas">Areas</option>
        <option value="bug">Bugs</option>
      </select><br><br>
      <select id="data_type" name="data_type" class ="form-control">
        <option value="ascii">ASCII</option>
        <option value="xml">XML</option>
      </select><br><br>
      <input type="submit" class="btn btn-default" value="Export">
    </form>
  </div>

</body>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

