{% include "base.html" %}

{% block body %}

<div class="container">
    <div class="well text-center">
        <form action="/" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div>
</div>

{% endblock %}