<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="well text-center">

        <h1>Manage Bug</h1>

        </div>
    </div>


    <div class="container">

      <div class="row">
   
          <div class="col md-12">
   
   
   
              <h3>Bug List </h3>
         
              <table class="table table-striped">
   
   
                 <tr>
                        <th scope="col">Bug Id</th>
						<th scope="col">Program</th>
						<th scope="col">Summary</th>
                        <th scope="col">Operations</th>
                 </tr>
   
                 <tr>
                        <td>01</td>
						<td>Bug 01</td>
						<td>tesing Bug 01</td>
                    <td>
                       <a href="#modaledit" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                       <a href="/delete/" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                    </td>
                 </tr>
   
                 <div id="modaledit" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                        
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Update Program</h4>
            
            
                          </div>
            
                        <div class="modal-body">
            
                            <form>
            
                              <div class="form-group">
                                 <label>Program:</label>
                                 <input type="hidden"  name="id">
            
                                 <input type="text" class="form-control" name="name">
         
                              </div>
            
                    
                              <div class="form-group">
                                 <label>Release:</label>
                               <input type="text" class="form-control" name="email"> 
                              </div>
   
                              <div class="form-group">
                                 <label>Version:</label>
                               <input type="text" class="form-control" name="email"> 
                              </div>
            
                           <div class="form-group">
                              <button class="btn btn-primary" type="sbumit">Update</button>
                           </div>
   
                           </form>
         
                        </div>
            
            
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
            
            
                     </div>
            
            
                  </div>
            
            
                 </div>

     </div>
   </div>    
   
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

   </body>



